#logo {
	margin-top: -10px;
	padding: 10px;
	background: #F1A95C;
	color: #4D4D4D;
}

body {
	width: 960px;
	font-size: 12pt;
	font-family: Helvetica;
	line-height: 1.5;
}

h1 {
	font-style:normal;
	margin-top: 50px;
	background: -webkit-linear-gradient(left, white, #CECECE, #CECECE, #EBE6E2);
	font-size: 2em;
}

h2 {
	margin-top: 15px; 
	font-size: 1.4em;
}

p {
	text-indent: 1.4em;
	line-height: 1.4em;
}

blockquote {
	margin-left: 35px; 
	padding-bottom: 10px;
	padding-left: 20px;	
	font-size: 11pt;
	font-style: italic;	
	font-family: Georgia;
	border-left: 1px dotted #EBE6E2;	
}

ol > li {
	margin-top: 5px;
}

figure {
	margin-top: -20px;
	margin-left: 20px;
	margin-right: 10px;
	display: inline-block;
	border: 2px solid #EBE6E2;
	border-radius: 5px;	
	padding: 5px;
}

figcaption {
	font-style: italic;
	text-align: center;
	border-radius: 5px;
	color: black;
	background: rgba(241, 169, 92, 0.3);
	padding: 5px 0px;		
	margin: 5px; 
}

table {
	margin-top: -20px;
	width: 100%;
	table-layout: fixed;
	border:solid 1px #CECECE;	
	border-collapse: collapse; 
	text-align: center;
}

tbody tr:nth-of-type(even) {
	background-color: #E5E5FF;
}

tbody tr:nth-of-type(odd) {
	background-color: #F0F0FF;
}

td {
	padding: 5px;
    width: 70px;
    height: 23px;
    border: 1px solid #CECECE;
}

th {
    padding:10px;
    border:1px solid #CECECE;
}

section > code {
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	width: 100%;
	display: block;
	background-color: #4D4D4D;	
	color: #9BFF9B;
	white-space: pre;	
	line-height: 1.4em;
}

p > code {
	color: #325095;
}

footer {
	margin-top: 50px;
	height: 60px;
	background-color: #F1A95C;
}

#copyright {
	float:left;	
	padding:20px 10px;
	background: #F1A95C;
}

#extra {
	float:right;
	padding:20px 10px;
	background: #F1A95C;
}

ul {
	margin-top: -20px;
	line-height: 30px;
}
